<a href="https://colab.research.google.com/github/KARANAMHARSHITAA2000/PYTHON/blob/master/DAY_10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop
- While loop
- For loop

In [1]:
# print numbers from 1to n
# input 10
# output 1 2 3 4 5 .....10
n =  int(input("enter a number"))
i = 1
while i <= n:
  print(i,end = " ")
  i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [32]:
n = int(input("enter a even number :"))
i = 2 
sum = 0
while i <= n :
  print(i,sum)
  i = i+2
  sum = sum+i

enter a even number :6
2 0
4 4
6 10

In [68]:
n = int(input("enter a number"))
rem = 0
num = 0
while n>0:
  rem = n%10 
  num = num*10+rem
  n=n//10
print(num)

enter a number123
321

# Functional programming
- simple
- easy to understand
- better reuseability
- lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
  statements
  return

In [87]:
# print sum of even numbers
# input:1234
# output:(2+4)=6
def sumofevendigits(n):
   s=0
   while n!=0:
       r = n%10
       if r%2==0:
         s=s+r
       n=n//10
   return s
sumofevendigits(1234)

6

In [91]:
# print largest numbers
# input:6789
# output:9
def largestnumbers(n):
   prev=0
   next=0
   while(n!=0):
      prev=next
      next=n%10
      if(prev>next):
        next=prev
      n=n//10
   return next
largestnumbers(6789)

9

# for loop
# syntax:
# for in range(start,stop,step):
#   statements

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [92]:
# using function print the numbers between limits
# input : 11 25
# output : 11 12 13 .....25
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [100]:
# input : 500 520
# ouput : 500 504 508.....520
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return 
printseries(500,520)

500 504 508 512 516 520

# collection types
- list
- tuple
- dictionary

# list:
- one of the data structure in python
- data structure means to store,sort and search options
- its one common data structure in python,the items of list separated by comma and enclosed by square brackets
- list was IMMUTABLE(i.e.,values can change)
- ex:
-list1=[1,2,3,4,5]
list=["jntua","dasd","asds"]

In [113]:
li = [1,5,2,6,8,9]
print(li)
print(li[2])
print(li[-2])
print(li[3:])
print(li[2:5])
print(li[-3:-1])
print(li[::2])

[1, 5, 2, 6, 8, 9]
2
8
[6, 8, 9]
[2, 6, 8]
[6, 8]
[1, 2, 8]

In [115]:
# UPDATE LIST
li = ["JNTUA",8,"ANTPR",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)

['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]

In [119]:
# list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# list functions
- max
- min
- sum
- append
- insert
- count
- index
- short
- pop

In [124]:
li=[1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/(len(li)))

5
1

TypeError: ignored

In [0]:
li = [1,2,3,4,5]
#1.append(56)
#1.insert(2,56)