<a href="https://colab.research.google.com/github/KARANAMHARSHITAA2000/PYTHON/blob/master/DAY_9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown
# Markdown

**points**

*points*

***points***

*** Adding links to Markdown ***

[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Anantapur)

### Inserting image
![text]https://upload.wikimedia.org/wikipedia/en/thumb/e/e3/Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png/220px-Jawaharlal_Nehru_Technological_University%2C_Anantapur_logo.png

In [1]:
print("hello world!")

hello world!

In [0]:
# Variable creation

In [3]:
print("hello , world")
print("hello , jntua","|||","chemical","|||","cse","|||","mca")

hello , world
hello , jntua ||| chemical ||| cse ||| mca

# Assignment

In [13]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same varible
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [14]:
a = 100
s1 = 10.2
s2 = "python"
print(type (a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [16]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user---input function

In [19]:
a = input("enter your name : ")
print(a)
print(type(a))

enter your name : JNTUA
JNTUA
<class 'str'>

In [20]:
B = int(input("enter your age : "))
print(B)
print(type(B))

enter your age : 685
685
<class 'int'>

# Operators
- Operators is a symbol is used to perform a specific kind of operations

# Arithmetic operators
- +
- -
- *
- /
- % 
- //
- **

In [22]:
a = 123
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

133
113
1230
12.3
3
12
792594609605189126649

# Relational operators
- =
- ==
- !=
- <
- >
- <=
- >=

In [23]:
x = 10
a1 = x > 15
print(a1)

False

# Logical operators
- and
- or
- not

In [26]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
i =  not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control flow statements
- conditional statements
- looping statements

# if - else statements
## syntax
# if Boolean_condition
# statements
# else :
# statements

In [32]:
# To check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number54
54 is even number

In [41]:
# To check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5==0:
  print(n, "is multiples of 3 and 5")
else:
  print(n, "is not multiples of 3 and 5")

enter a number789
789 is not multiples of 3 and 5

In [66]:
# to check given number is negative positive or zero
n = int(input("enter A"))
m = int(input("enter B"))
s = int(input("enter C"))
if(n>m and n>s) :
  print(" A is greater")
elif(m>n and m>s):
  print(" B is greater")
else:
  print(" C is greater")

enter A12
enter B52
enter C63
 C is greater

In [0]:
# TO CHECK GIVEN NUM IS LEAP YEAR 
n = int(input("enter a number"))
if n%4 == 0 and n%100 == 0:
  print("the number is leap year")
else:
    )