<a href="https://colab.research.google.com/github/KARANAMHARSHITAA2000/PYTHON/blob/master/DAY_11(01_02_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple
- parenthesis() --> tuple and square bracket[] --> list 
- difference b/w list and tuple 
    - list are mutable - can be changed/modified
    - list used to access , modify add delete
    - tuple are immutable -- cannot be changed
    - used to access data

In [3]:
t1 = (1,2,3,4,5)
t2 = (9,8,7,2,2)
print(t1,type(t1))
print(t2,type(t2))

(1, 2, 3, 4, 5) <class 'tuple'>
(9, 8, 7, 2, 2) <class 'tuple'>

# Dictionaries
- it works on concept of set unique data
- keys,values is the unique identifier for a value
- each key is separated freom its values with colon(:)  
- each key and value is separated by comma(,)
- dictionaries enclosed with curly braces{}
- ex:

In [8]:
d1 = {"name":"jntua","emailid":"jntua@gmail.com","address":"anantapur"}
print(d1)
d1.keys()
d1.values()
d1["name"]

{'name': 'jntua', 'emailid': 'jntua@gmail.com', 'address': 'anantapur'}

'jntua'

In [10]:
d1 = {"name":"jntua","emailid":"jntua@gmail.com","address":"anantapur"}
d1["emailid"] = "python@gmail.com"
print(d1)

{'name': 'jntua', 'emailid': 'python@gmail.com', 'address': 'anantapur'}

In [12]:
d1 = {"name":"jntua","emailid":"jntua@gmail.com","address":"anantapur"}
d1["address"] = "us"
print(d1)

{'name': 'jntua', 'emailid': 'jntua@gmail.com', 'address': 'us'}

In [13]:
d1['courses'] = 'python'
print(d1)

{'name': 'jntua', 'emailid': 'jntua@gmail.com', 'address': 'us', 'courses': 'python'}

In [14]:
del d1['emailid']
print(d1)

{'name': 'jntua', 'address': 'us', 'courses': 'python'}

# strings :

In [16]:
s1 = "python"
print(s1,type(s1))

pyhton <class 'str'>

In [54]:
print(s1[-1])
print(s1[2:])
print(s1[1:])
print(s1[2:4])
print(s1[0:4])
print(s1[1:5])
print(s1[-1::-1])
print(s1[3])
print(s1[-1:-3:-1])

n
hton
yhton
ht
pyht
yhto
nothyp
t
no

In [68]:
# reversing of string using function
def reversestring(s1):
   s1 = "uiegdyefg"
   return(s1[::-1])
reversestring(s1)

'gfeydgeiu'